<header style="background-color: #afd0ee;">
  <div class="logo">
    <a href="/">My Library</a>
  
  </div>
  <nav class="mynav">
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">New author</a></li>
    </ul>
  </nav>
</header>